---
import styles from './AboutDetails.module.scss';
---

<article class:list={[styles.details]}>
    <section aria-label="About Me Summary" class={styles.summary}>
        <p>I am a Senior Software Engineer living in Newcastle upon Tyne UK, who strives to build performant, user-accessible and visually appealing websites using modern technology.</p>
        <p>Specialised experience in Web Performance, Javascript, and modern CSS / SCSS. With experience building e-commerce sites and using React, NextJs, NodeJS and Ruby on Rails.</p>
        <p>One of the things that excite me about web development is how new and upcoming features are changing how we are building for the web. This improves existing functionality and user experiences, like CSS Scroll Snap, CSS container queries and the View Transitions API.</p>
    </section>

    <section>
        <h2>Web Development</h2>
        <p>During my time in web development I have worked with multiple languages and frameworks such as NextJS, Astro, ReactJS, NodeJS, Ruby on Rails and more, building new features and expanding on existing features and functionality to achieve business requirements while making a great user experience.</p>
        <p>Some of the features I have worked on include building ecommerce checkout flows, search results pages, product wishlist and account management pages.</p>
        <p>During this time I have also hosted meetings with clients, third parties and stakeholders to address problems, demonstrating new functionality to get and give feedback on features, as well as plan upcoming features or integrations allowing us to capture unknowns early.</p>
    </section>
</article>
