---
const title = 'About Me'; 

---

<section class:list={['container']}>
    <h3>{title}</h3>
    <p>I am a web developer from the UK, who strives to build performant, user-accessible and visually appealing websites using modern technology.</p><p>In recent years I have been working closely with e-commerce sites to provide giving customers with the best experience possible, using multiple languages ranging from NextJS, Ruby on Rails, Astro, and NodeJS. </p><p>One of the things that excite me about web development is how new and upcoming features are changing how we are building for the web. This improves existing functionality and user experiences, like CSS Scroll Snap, CSS container queries and the page transition API.</p><p>Outside of work, I have done websites for my rugby team Newcastle Ravens and their yearly event Hadrian Cup, as well as keep up with the latest changes coming to frontend development. </p>
</section>