---
import {CssVarButtons} from './react/custom-css-buttons/CustomCSSButtons'
import {BadCounterComponent} from './react/performance-counter/BadCounterComponent'
import BasicPopover from './basic-popover/BasicPopover.astro'
import MobileNavPopover from './mobile-nav-popover/MobilePopover.astro'
import {GoodCounterComponent} from './react/performance-counter/GoodCounterComponent'
const { node } = Astro.props
const {component} = node

---

<!-- {component === 'articleContainerQueriesRow' && (
    <h2>articleContainerQueriesRow</h2>
)} -->

{component === 'cssVarButtons' && (
    <CssVarButtons />
)}

{component === 'basicPopover' && (
    <BasicPopover />
)}

{component === 'mobileNavPopover' && (
    <MobileNavPopover />
)}

{component === 'performanceUseStateBad' && (
    <BadCounterComponent client:visible />
)}

{component === 'performanceUseStateGood' && (
    <GoodCounterComponent client:visible />
)}

