---
import { PortableText } from "astro-portabletext";
import Span from "../span-block/Span.astro";

const { node } = Astro.props

const { style, _key, children } = node

const HeadingTag = style
const headingId = `h${_key}`;
---

<a href={`#${headingId}`} id={headingId}> 
    <HeadingTag>
        <PortableText value={children} components={{type: {span: Span}}} />
    </HeadingTag>
</a>