@import '../../../../../styles/_shared/breakpoints.scss';

.desktopContents {
	display: none;
	@include breakpoint(lg) {
		position: sticky;
		top: var(--spacing-md);
		display: block;
	}

	h2 {
		color: var(--brand-900);
		// font-size: ;
	}
}
