@import '../../../styles/_shared/breakpoints.scss';

.link {
	color: var(--brand-800);
	text-decoration: none;
	cursor: pointer;
	transition: color 0.15s;
	font-size: var(--font-size-xxxl);
	font-weight: 600;
	position: relative;

	@include breakpoint(sm) {
		color: var(--brand-700);
		font-size: var(--font-size-xl);
	}

	&:after {
		content: '';
		height: 4px;
		width: 0px;
		background-color: var(--brand-700);
		position: absolute;
		bottom: -5px;
		left: 0;
		transition: width 0.5s;
	}

	&:hover {
		color: var(--brand-800);

		@include breakpoint(sm) {
			color: var(--brand-800);
		}

		&:after {
			content: '';
			width: 75%;
		}
	}
}

.active {
	color: var(--brand-900);

	@include breakpoint(sm) {
		color: var(--brand-900);
	}

	position: relative;

	&:after {
		content: '';
		height: 4px;
		width: 75%;
		background-color: var(--brand-900);
		position: absolute;
		bottom: -5px;
		left: 0;
	}
}
