---
// import ArticleList from '../../features/homepage/article/ArticleList.astro';
import ArticleList from '../../features/homepage/article/ArticleList.astro';
import Layout from '../../layouts/Layout.astro';
import { getAllArticles } from '../../queries/articles';

const articles = await getAllArticles()

---

<Layout title="Articles">
	<main class="container">
		<ArticleList articles={articles} />
	</main>
</Layout>

