---
// import ArticleList from '../../features/homepage/article/ArticleList.astro';
import ArticleList from '../../features/homepage/article/ArticleList.astro';
import Layout from '../../layouts/Layout.astro';
import { getAllArticles } from '../../queries/articles';

const articles = await getAllArticles()

---

<Layout title="Welcome to Astro.">
	<main class="container">
		<h1>Articles</h1>
		<ArticleList articles={articles} />
	</main>
</Layout>

