---
// import ArticleList from '../../features/homepage/article/ArticleList.astro';
import Layout from '../../layouts/Layout.astro';
import { getAllArticles } from '../../queries/articles';

const articles = await getAllArticles()

---

<Layout title="Welcome to Astro.">
	<main class="container">
		{articles.map((article) => {
			console.log({article})
			return (
				<article>
					<h2>{article.title}</h2>
					{article.estimatedReadingTime}
				</article>
			)
		})}
	</main>
</Layout>

