---
import CSS from './styles.module.scss'
const title = 'Common performance issue when using functions to get initial state for React Use State'
---

<header class:list={['container', CSS.container]}>
    <h1>{title}</h1>
    <div class:list={[CSS.articleInfo]}>
        <p>Date Published</p>
        <p>Updated On: {new Date().toDateString()}</p>
        <p>Read Time 5 mins</p>
    </div>
</header>