---
import type { PortableTextBlock } from 'sanity'
import { PortableText } from "astro-portabletext"
import CSS from './styles.module.scss'

interface Props {
    variant: 'success' | 'danger' | 'warning' | 'info'
}
const { variant } = Astro.props

const variantStyle: { [key in Props['variant']]: string } = {
    info: CSS['alert-info'],
    success: CSS['alert-success'],
    warning: CSS['alert-warning'],
    danger: CSS['alert-error'],
}
---

<div class:list={[CSS.alertBox, variantStyle[variant]]}>
    <slot/>
</div>
