:root {
	--red-50: #fff0f0;
	--red-100: #ffdede;
	--red-200: #ffc3c3;
	--red-300: #ff9898;
	--red-400: #ff5e5e;
	--red-500: #ff2b2b;
	--red-600: #f72222;
	--red-700: #d00505;
	--red-800: #ab0909;
	--red-900: #8d0f0f;
	--red-950: #4d0202;

	--bright-sun-50: #fffbeb;
	--bright-sun-100: #fff5c6;
	--bright-sun-200: #ffe988;
	--bright-sun-300: #ffd642;
	--bright-sun-400: #ffc520;
	--bright-sun-500: #f9a307;
	--bright-sun-600: #dd7b02;
	--bright-sun-700: #b75606;
	--bright-sun-800: #94410c;
	--bright-sun-900: #7a370d;
	--bright-sun-950: #461b02;

	--vida-loca-50: #f6ffe4;
	--vida-loca-100: #eaffc4;
	--vida-loca-200: #d5ff90;
	--vida-loca-300: #b7ff50;
	--vida-loca-400: #9afe1d;
	--vida-loca-500: #79e500;
	--vida-loca-600: #5cb800;
	--vida-loca-700: #4a9400;
	--vida-loca-800: #396d07;
	--vida-loca-900: #315c0b;
	--vida-loca-950: #163400;
}

.alertBox {
	margin: var(--spacing-md) var(--spacing-sm);
	padding: var(--spacing-sm);
	margin-left: 0;
	border-left: 4px solid;

	p {
		margin: var(--spacing-xs) 0;
	}
}

.alert-info {
	border-color: var(--brand-500);
	color: var(--brand-800);
	background-color: var(--brand-200);
}

.alert-error {
	border-color: var(--red-500);
	color: var(--red-800);
	background-color: var(--red-200);
}

.alert-warning {
	border-color: var(--bright-sun-500);
	color: var(--bright-sun-800);
	background-color: var(--bright-sun-200);
}

.alert-success {
	border-color: var(--vida-loca-500);
	color: var(--vida-loca-800);
	background-color: var(--vida-loca-200);
}
