@import '../../../styles/_shared/breakpoints.scss';

.aboutLayout {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
	box-sizing: border-box;

	@include breakpoint(lg) {
		grid-template-columns: 1fr 1fr;
		gap: var(--spacing-lg);
		align-items: start;
	}
}
