---
import CSS from './styles.module.scss'
---
<section class:list={[CSS.container]}>
    <div class:list={['container', CSS.content]}>
        <img class:list={[CSS.image]} src="https://cdn.sanity.io/images/hpnwtus3/production/0a51a70c16f70c095082cdf16915067c9530dc47-600x600.png?w=500&h=500&q=80&fit=fill&auto=format" alt="Ian Duffy" width="500" height="500" loading="eager" fetchpriority="high" style={{viewTransitionName: "profile-image" }}/>
        <div class:list={["w-full"]}>
            <h1 class:list={[CSS.heroText]}>Hello I am Ian Duffy<br/><span>SENIOR SOFTWARE ENGINEER</span></h1>
        </div>
    </div>
</section>