@import '../../../styles/_shared/breakpoints.scss';

.container {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	color: var(--brand-900);
	align-items: center;
	margin: var(--spacing-xl) auto;
	padding: var(--spacing-xxxxl) 0;
	background: linear-gradient(
		to bottom,
		var(--brand-100),
		var(--brand-200),
		var(--brand-100)
	);
	text-align: center;
	text-transform: uppercase;
}

.content {
	@include breakpoint(md) {
		max-width: 60vw;
	}
}

.heroText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-md);
	font-size: clamp(1.5rem, -0.3707rem + 2vw, 3.75rem);
	text-wrap: balance;
	color: var(--brand-800);
	margin-bottom: 0;

	transition:
		transform 600ms,
		opacity 600ms;
	will-change: contents;
	@starting-style {
		transform: translateY(100px);
		opacity: 0;
	}
}

.subText {
	font-size: clamp(2rem, -0.3707rem + 10vw, 4rem);
	color: var(--brand-900);
	transition:
		transform 600ms,
		opacity 600ms;
	transition-delay: 200ms;
	margin: var(--spacing-sm) 0 0 0;
	font-weight: bold;
	will-change: contents;

	@starting-style {
		transform: translateY(100px);
		opacity: 0;
	}
}

.image {
	border-radius: 50%;
	width: 100px;
	aspect-ratio: 1/1;
	border: 5px solid var(--brand-800);
}
