.container {
	display: grid;
	grid-template-columns: 1fr 500px;
	gap: var(--spacing-md);
	color: var(--brand-900);
}

.heroText {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--spacing-md);
	font-size: 48px;

	span {
		font-size: 68px;
	}
}
