@import './_shared/breakpoints.scss';

@view-transition {
	navigation: auto;
}

:root {
	--brand-50: #f4f7fb;
	--brand-100: #e7eff7;
	--brand-200: #cadced;
	--brand-300: #9cbedd;
	--brand-400: #679cc9;
	--brand-500: #4480b3;
	--brand-600: #326697;
	--brand-700: #2a527a;
	--brand-800: #264666;
	--brand-900: #243c56;
	--brand-950: #182739;

	color-scheme: light dark;
	--brand-50: light-dark(#f4f7fb, #182739);
	--brand-100: light-dark(#e7eff7, #243c56);
	--brand-200: light-dark(#cadced, #264666);
	--brand-300: light-dark(#9cbedd, #2a527a);
	--brand-400: light-dark(#679cc9, #326697);
	--brand-500: light-dark(#4480b3, #4480b3);
	--brand-600: light-dark(#326697, #679cc9);
	--brand-700: light-dark(#2a527a, #9cbedd);
	--brand-800: light-dark(#264666, #cadced);
	--brand-900: light-dark(#243c56, #e7eff7);
	--brand-950: light-dark(#182739, #f4f7fb);

	--spacing-xxs: 4px;
	--spacing-xs: 8px;
	--spacing-sm: 16px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xl: 40px;
	--spacing-xxl: 48px;
	--spacing-xxxl: 56px;
	--spacing-xxxxl: 64px;

	--font-size-xxs: 0.625rem; /* 10px */
	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-md: 1rem; /* 16px */
	--font-size-lg: 1.125rem; /* 18px */
	--font-size-xl: 1.25rem; /* 20px */
	--font-size-xxl: 1.5rem; /* 24px */
	--font-size-xxxl: 1.75rem; /* 28px */
	--font-size-xxxxl: 2rem; /* 32px */
}

html {
	background: var(--brand-100);
	font-family: 'Roboto', sans-serif;
	--theme-button-cord: 100% 100%;
}

body {
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	height: 100dvh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--brand-900);
}

p {
	width: 100%;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;

	&--small {
		max-width: 1000px;
	}
}

img {
	width: 100%;
	height: auto;
}

// Utilities

.w-full {
	width: 100%;
}

.text-left {
	text-align: left;
}

@import './o-button.scss';

.article-container {
	max-width: 1000px;
	width: 90vw;
}

@media screen and (prefers-reduced-motion: reduce) {
	* {
		animation: none !important;
		transition: none !important;
		scroll-behavior: auto !important;
	}
}

.article-body {
	max-width: 1000px;
	margin: 0 auto;
	width: 90vw;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	line-height: 1.5;

	@include breakpoint('lg') {
		display: grid;
		grid-template-areas: 'article aside';
		grid-template-columns: 2fr 1fr;
		align-items: flex-start;

		aside {
			grid-area: aside;
		}

		article {
			grid-area: article;
			max-width: 100%;
			overflow: hidden;
		}
	}
}

.article-aside {
	position: sticky;
	top: 0;

	@include breakpoint('lg') {
		top: var(--spacing-md);
	}
}

a {
	color: var(--brand-700);
	text-decoration: underline;
}

.theme-switch-button {
	position: fixed;
	bottom: var(--spacing-md);
	right: var(--spacing-md);
	background: var(--brand-800);
	color: var(--brand-100);
	padding: var(--spacing-xs);
	border-radius: 50px;
}

@keyframes move-out {
	from {
		clip-path: circle(100% at var(--theme-button-cord));
	}

	to {
		clip-path: circle(0% at var(--theme-button-cord));
	}
}

::view-transition-old(changing-theme) {
	animation: 500ms cubic-bezier(0.4, 0, 0.2, 1) both move-out;
	z-index: 10;
}

::view-transition-new(changing-theme) {
	z-index: 9;
}
