@import './_shared/breakpoints.scss';

@view-transition {
	navigation: auto;
}

:root {
	--brand-50: #f4f7fb;
	--brand-100: #e7eff7;
	--brand-200: #cadced;
	--brand-300: #9cbedd;
	--brand-400: #679cc9;
	--brand-500: #4480b3;
	--brand-600: #326697;
	--brand-700: #2a527a;
	--brand-800: #264666;
	--brand-900: #243c56;
	--brand-950: #182739;

	--spacing-xxs: 4px;
	--spacing-xs: 8px;
	--spacing-sm: 16px;
	--spacing-md: 24px;
	--spacing-lg: 32px;
	--spacing-xl: 40px;
	--spacing-xxl: 48px;
	--spacing-xxxl: 56px;
	--spacing-xxxxl: 64px;

	--font-size-xxs: 0.625rem; /* 10px */
	--font-size-xs: 0.75rem; /* 12px */
	--font-size-sm: 0.875rem; /* 14px */
	--font-size-md: 1rem; /* 16px */
	--font-size-lg: 1.125rem; /* 18px */
	--font-size-xl: 1.25rem; /* 20px */
	--font-size-xxl: 1.5rem; /* 24px */
	--font-size-xxxl: 1.75rem; /* 28px */
	--font-size-xxxxl: 2rem; /* 32px */
}

html.dark {
	--brand-50: #182739;
	--brand-100: #243c56;
	--brand-200: #264666;
	--brand-300: #2a527a;
	--brand-400: #326697;
	--brand-500: #4480b3;
	--brand-600: #679cc9;
	--brand-700: #9cbedd;
	--brand-800: #cadced;
	--brand-900: #e7eff7;
	--brand-950: #f4f7fb;
}

html.light {
	--brand-50: #f4f7fb;
	--brand-100: #e7eff7;
	--brand-200: #cadced;
	--brand-300: #9cbedd;
	--brand-400: #679cc9;
	--brand-500: #4480b3;
	--brand-600: #326697;
	--brand-700: #2a527a;
	--brand-800: #264666;
	--brand-900: #243c56;
	--brand-950: #182739;
}

html {
	background: var(--brand-100);
	font-family: 'Roboto', sans-serif;
}

body {
	margin: 0;
	display: grid;
	grid-template-rows: auto 1fr auto;
	height: 100vh;
	height: 100dvh;
}

.container {
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 20px;
}

img {
	width: 100%;
	height: auto;
}

// Utilities

.w-full {
	width: 100%;
}

@import './o-button.scss';

.article-container {
	max-width: 1000px;
	width: 90vw;
}

.article-body {
	max-width: 1000px;
	margin: 0 auto;
	width: 90vw;
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);

	@include breakpoint('lg') {
		display: grid;
		grid-template-areas: 'article aside';
		grid-template-columns: 2fr 1fr;
		align-items: flex-start;

		aside {
			grid-area: aside;
		}

		article {
			grid-area: article;
			max-width: 100%;
			overflow: hidden;
		}
	}
}

.article-aside {
	position: sticky;
	top: 0;

	@include breakpoint('lg') {
		top: var(--spacing-md);
	}
}

a {
	color: var(--brand-700);
	text-decoration: underline;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
}

@keyframes fade-out {
	to {
		opacity: 0;
	}
}

@keyframes slide-from-left {
	from {
		transform: translateX(-30px);
	}
}

@keyframes slide-from-right {
	from {
		transform: translateX(30px);
	}
}

@keyframes slide-to-left {
	to {
		transform: translateX(-30px);
	}
}

@keyframes slide-to-right {
	to {
		transform: translateX(30px);
	}
}

.element {
	width: 500px;
}

html:active-view-transition-type(forwards, backwards) {
	.element {
		view-transition-name: element;
		// background-color: white;
	}
}

// .element {
html:active-view-transition-type(forwards) {
	&::view-transition-old(element) {
		animation:
			90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-left;
	}

	&::view-transition-new(element) {
		animation:
			210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-right;
	}
}

html:active-view-transition-type(backwards) {
	&::view-transition-old(element) {
		animation:
			90ms cubic-bezier(0.4, 0, 1, 1) both fade-out,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-to-right;
	}

	& ::view-transition-new(element) {
		animation:
			210ms cubic-bezier(0, 0, 0.2, 1) 90ms both fade-in,
			300ms cubic-bezier(0.4, 0, 0.2, 1) both slide-from-left;
	}
}
// }
