.slider {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none; /* Hide scrollbar for Firefox */
	position: relative;
	height: 100%;
	width: 100%;
	overscroll-behavior-inline: contain;

	* {
		scroll-snap-align: center;
		flex: 0 0 auto;
		width: 100%;
	}
}

.slide {
	font-size: 2rem;

	object-fit: cover;
	will-change: transform;
}

.sliderContainer {
	position: relative;
}

.sliderControls {
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	background: #fff;
	border-radius: 10px;
	padding: 10px 10px;
	color: black;
	display: flex;
	gap: var(--spacing-xs);
	align-items: center;
	margin-bottom: var(--spacing-md);

	p {
		margin: 0;
	}
}

.icons {
	font-size: 1.5rem;
}

.thumbnails {
	position: relative;
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	-webkit-overflow-scrolling: touch;
	scrollbar-width: none;
	height: 100px;
	gap: var(--spacing-xs);
	margin-top: var(--spacing-xs);

	& img {
		flex: 1 1 auto;
		border: 2px solid transparent;
		object-fit: cover;
		width: 100%;
		height: 100%;
	}

	.active {
		border: 2px solid var(--brand-700);
	}
}

.button {
	background: var(--brand-900);
	color: var(--brand-100);
	border: none;
	cursor: pointer;
	padding: var(--spacing-sm) var(--spacing-md);
	margin: var(--spacing-xs);
	border-radius: 10px;
	font-size: 1rem;
	transition: all 0.3s ease-in-out;
}
