---
import { getAllArticles } from '../../../queries/articles'
import ArticleLink from './ArticleLink.astro'
import CSS from './styles.module.scss'
const articles = await getAllArticles()
const { hasTitle } = Astro.props
---
<div class:list={[CSS.articlesSection]}>
    <section class:list={[]}>
        {hasTitle && <h2>Recent Articles</h2>}
        <ul class:list={[CSS.list]}>
            {articles.map((article, index) => (
                <ArticleLink {...article} isFeatured={index === 0} delay={index}/>
            ))}
        </ul>
    </section>
</div>