---

const { slug, title } = Astro.props
import CSS  from './styles.module.scss'
---

<a href={`/articles/${slug.current}`} class:list={[CSS.articleLink]}>
    <h3 style="text-wrap:pretty">{title}</h3>
    <div>
        <span>Published Date</span>
        <span>Article read time</span>
    </div>
</a>