---
const { slug, title, publishedDate, estimatedReadingTime, isFeatured } = Astro.props
import CSS  from './styles.module.scss'
const publishedDAte = new Date(publishedDate).toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })
---

<li class:list={[isFeatured ? CSS.featuredArticle : null, CSS.article]}>
    <a href={`/articles/${slug.current}`} class:list={[CSS.articleLink]}>
        <h3 style="text-wrap:pretty" transition:name={`article-title-${title.replaceAll(' ', '-')}`}>{title}</h3>
        <div class:list={[CSS.articleDetails]}>
            <span transition:name={`article-publishedDate-${title.replaceAll(' ', '-')}`}>{publishedDAte}</span>
            {estimatedReadingTime ? <span transition:name={`article-readTime-${title.replaceAll(' ', '-')}`}>{estimatedReadingTime} mins read</span> : null}
        </div>
    </a>
</li>