---
const { slug, title, publishedDate, estimatedReadingTime } = Astro.props
import CSS  from './styles.module.scss'
const publishedDAte = new Date(publishedDate).toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })
---

<a href={`/articles/${slug.current}`} class:list={[CSS.articleLink]}>
    <h3 style="text-wrap:pretty" style={{viewTransitionName: `article-title-${title.replaceAll(' ', '-')}`}}>{title}</h3>
    <div>
        <span style={{viewTransitionName: `article-publishedDate-${title.replaceAll(' ', '-')}`}}>{publishedDAte}</span>
        {estimatedReadingTime ? <span style={{viewTransitionName: `article-readTime-${title.replaceAll(' ', '-')}`}}>{estimatedReadingTime} mins read</span> : null}
    </div>
</a>