---
const { slug, title, publishedDate, estimatedReadingTime } = Astro.props
import CSS  from './styles.module.scss'
const publishedDAte = new Date(publishedDate).toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' })
---

<a href={`/articles/${slug.current}`} class:list={[CSS.articleLink]}>
    <h3 style="text-wrap:pretty">{title}</h3>
    <div>
        <span>{publishedDAte}</span>
        {estimatedReadingTime ? <span>{estimatedReadingTime} mins read</span> : null}
    </div>
</a>