---
import TabButtons from '../../../custom-web-components/Tabs/TabButtons.astro'
import TabList from '../../../custom-web-components/Tabs/TabList.astro'
import TabItem from '../../../custom-web-components/Tabs/TabItem.astro'
import { getAllArticles } from '../../../queries/articles'
import ArticleLink from './ArticleLink.astro'
import CSS from './styles.module.scss'

const articles = await getAllArticles();
// const articleCategories = await getAllArticleCategories()
---
<div class:list={[CSS.articlesSection]}>
    <section class:list={[]}>
        <nav class:list={[CSS.articleNavigation]}>
            <TabButtons tabs={[
                { label: 'All Articles', name: 'all' },
                { label: 'Web Performance', name: 'web-performance' },
                { label: 'CSS', name: 'css' },
                { label: 'JavaScript', name: 'javascript' },
            ]}/>
        </nav>

        <TabList>
            <TabItem name="all">
                <ul class:list={[CSS.list]} aria-label="All Articles">
                    {articles.map((article, index) => (
                        <ArticleLink {...article} isFeatured={index === 0} delay={index}/>
                    ))}
                </ul>
            </TabItem>
            <TabItem name="web-performance">
                <ul class:list={[CSS.list]} aria-label="Web Performance Articles">
                    {articles.filter(article => article.articleTags?.includes('Web Performance')).map((article, index) => (
                        <ArticleLink {...article} isFeatured={index === 0} delay={index}/>
                    ))}
                </ul>
            </TabItem>
            <TabItem name="javascript">
                <ul class:list={[CSS.list]} aria-label="JavaScript Articles">
                    {articles.filter(article => article.articleTags?.includes('Javascript')).map((article, index) => (
                        <ArticleLink {...article} isFeatured={index === 0} delay={index}/>
                    ))}
                </ul>
            </TabItem>
            <TabItem name="css">
                <ul class:list={[CSS.list]} aria-label="CSS Articles">
                    {articles.filter(article => article.articleTags?.includes('CSS')).map((article, index) => (
                        <ArticleLink {...article} isFeatured={index === 0} delay={index}/>
                    ))}
                </ul>
            </TabItem>
        </TabList>
    </section>
</div>