---
import { getAllArticles } from '../../../queries/articles'
import ArticleLink from './ArticleLink.astro'
import CSS from './styles.module.scss'
const articles = await getAllArticles()
---
<div class:list={['container', CSS.articlesSection]}>
    <section class:list={[]}>
        <h2>Recent Articles</h2>
        <ul class:list={[CSS.list]}>
            {articles.map((article) => (
                <li>
                    <ArticleLink {...article} />
                </li>
            ))}
        </ul>
    </section>
    <aside>
    </aside>
</div>