@import '../../../styles/_shared/breakpoints.scss';

.articlesSection {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	color: var(--brand-900);
	margin: var(--spacing-lg) auto;
	max-width: 1400px;
	width: 100%;
}

.list {
	list-style: none;
	padding: 0;
	display: grid;
	gap: var(--spacing-sm);
	grid-template-columns: 1fr;

	@include breakpoint(md) {
		gap: var(--spacing-md);
		grid-template-columns: 1fr 1fr;
	}

	@include breakpoint(lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

// Todo: Does importing this twice cause any issues?
.articleLink {
	text-decoration: none;
	color: var(--brand-900);
	font-size: 1.2rem;
	display: flex;
	flex-direction: column;
	padding: var(--spacing-md);

	&:not(:last-of-type) {
		border-bottom: 1px solid var(--brand-900);
	}
}

.featuredArticle {
	@include breakpoint(md) {
		grid-column: span 2;

		h3 {
			font-size: 1.8rem;
		}
	}
}

.article {
	background: var(--brand-200);
	transition: 500ms;
	border-radius: var(--spacing-xxs);

	&:nth-of-type(3n) {
		--delay: 25%;
	}

	&:nth-of-type(4n) {
		--delay: 50%;
	}

	&:nth-of-type(5n) {
		--delay: 75%;
	}

	&:not(.featuredArticle) {
		animation: fadeIn ease-in-out both;
		animation-timeline: view();
		animation-range: entry var(--delay);
		animation-duration: 500ms;
	}

	transform-origin: top;

	@starting-style {
		transform: translateY(100px);
		opacity: 0;
	}

	&:hover {
		background: var(--brand-300);
	}

	h3 {
		margin-top: 0;
	}
}

.articleDetails {
	display: flex;
	gap: var(--spacing-sm);
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: translateY(200%);
	}
	60% {
		opacity: 1;
		transform: translateY(-10%);
	}
	80% {
		transform: translateY(5%) scaleY(0.95) scaleX(1.02);
	}
	100% {
		transform: translateY(0);
	}
}

.tag {
	background: var(--brand-300);
	color: var(--brand-950);
	padding: var(--spacing-xxs) var(--spacing-xs);
	border-radius: var(--spacing-xxs);
	font-size: 0.8rem;
}

.articleNavigation {
	display: flex;
	align-items: center;
	gap: var(--spacing-sm);
	margin: var(--spacing-md) 0;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
	scroll-snap-stop: always;
	-webkit-overflow-scrolling: touch;

	> * {
		flex-shrink: 0;
	}
}
