@import '../../../styles/_shared/breakpoints.scss';

.articlesSection {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	color: var(--brand-900);
	margin: var(--spacing-lg) auto;
	max-width: 1400px;
}

.list {
	list-style: none;
	padding: 0;
	display: grid;
	gap: var(--spacing-sm);
	grid-template-columns: 1fr;

	@include breakpoint(md) {
		gap: var(--spacing-md);
		grid-template-columns: 1fr 1fr;
	}

	@include breakpoint(lg) {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

// Todo: Does importing this twice cause any issues?
.articleLink {
	text-decoration: none;
	color: var(--brand-900);
	font-size: 1.2rem;
	display: block;
	padding: var(--spacing-md);

	&:not(:last-of-type) {
		border-bottom: 1px solid var(--brand-900);
	}
}

.featuredArticle {
	@include breakpoint(md) {
		grid-column: span 2;

		h3 {
			font-size: 1.8rem;
		}
	}
}

.article {
	background: var(--brand-200);
	transition: 500ms;
	border-radius: var(--spacing-xxs);

	&:hover {
		background: var(--brand-300);
	}

	h3 {
		margin-top: 0;
	}
}

.articleDetails {
	display: flex;
	gap: var(--spacing-sm);
}
