---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About">
	<main class="container container--small text-left">
		<h1>About Me</h1>
		<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quam nesciunt at maiores eos vel quos dolorum, harum fugit laborum velit laboriosam incidunt quis eum libero quaerat magni fuga culpa.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quam nesciunt at maiores eos vel quos dolorum, harum fugit laborum velit laboriosam incidunt quis eum libero quaerat magni fuga culpa.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quam nesciunt at maiores eos vel quos dolorum, harum fugit laborum velit laboriosam incidunt quis eum libero quaerat magni fuga culpa.</p>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quam nesciunt at maiores eos vel quos dolorum, harum fugit laborum velit laboriosam incidunt quis eum libero quaerat magni fuga culpa.</p> -->
	</main>
</Layout>

