---
import Layout from '../layouts/Layout.astro';
import Hero from '../features/homepage/hero/Hero.astro';
import SkillMarquee from '../features/homepage/skills-marquee/SkillMarquee.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<Hero />
		<SkillMarquee />
	</main>
</Layout>

