---
import Layout from '../layouts/Layout.astro';
import Hero from '../features/homepage/hero/Hero.astro';
---

<Layout title="Welcome to Astro.">
	<main class="container">
		<Hero />
	</main>
</Layout>

