---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Snippets">
	<main class="container container--small text-left w-full">
		<h1>Snippets</h1>
		<p>Coming Soon</p>
	</main>
</Layout>

