---
import {PortableText} from "astro-portabletext"
import AlertBox from "../../../../portable-text-components/alert-box/AlertBox.astro"
import CodeBlock from "../../../../portable-text-components/code-block/CodeBlock.astro"
import CanIUse from "../../../../portable-text-components/can-i-use-block/CanIUse.astro"
import VideoBlock from "../../../../portable-text-components/article-video/VideoBlock.astro"
import CustomArticleComponent from './custom-article-components/CustomArticleComponent.astro'
import Heading from "./portable-text-components/heading/Heading.astro"
import Link from "./portable-text-components/link/Link.astro"
import { mergeComponents } from "astro-portabletext/utils"
import BulletList from "./portable-text-components/bullet-list/BulletList.astro"
const { content } = Astro.props

---
<article class:list={[]}>
    <div style="max-width: 100%">
    <PortableText value={content} components={mergeComponents({type: { alertBox: AlertBox, code: CodeBlock, canIUse: CanIUse, articleVideo: VideoBlock, articleCustomComp: CustomArticleComponent }, block: {h1: Heading, h2: Heading, h3: Heading, h4: Heading, h5: Heading, h6: Heading}, mark: {link: Link}, list: {bullet: BulletList}}, {})} />
    </div>
</article>