---
import Layout from "../../layouts/Layout.astro";


---

<Layout title="Basic Image Example">
    <h1>This is a basic example of a image element with srcset</h1>
    <div style="display: flex; gap: 10px; flex-wrap: wrap;">
        <div id="dpr"></div>
        <div id="screen"></div>
        <div id="equal"></div>
        <div id="currentSrc"></div>
    </div>
    <img 
    id="basic-image-example"
            src="https://dummyimage.com/300" 
    srcset="
            https://dummyimage.com/300 300w, 
            https://dummyimage.com/600 600w, 
            https://dummyimage.com/900 900w, 
            https://dummyimage.com/1200 1200w, 
            https://dummyimage.com/1500 1500w, 
            https://dummyimage.com/1800 1800w, 
            https://dummyimage.com/2100 2100w, 
            https://dummyimage.com/2400 2400w, 
            https://dummyimage.com/2700 2700w, 
            https://dummyimage.com/3000 3000w
        " 
            alt="A dummy image" 
            sizes="100vw" 
        />

</Layout>

<script is:inline>
    function updateDisplay() {
        const dpr = window.devicePixelRatio;
        document.getElementById('dpr').innerHTML = `Device Pixel Ratio: ${dpr}`;

        const screen = window.innerWidth;
        document.getElementById('screen').innerHTML = `Screen Width: ${screen}`;

        const equal = screen * dpr;
        document.getElementById('equal').innerHTML = `Screen Width * DPR: ${equal}`;

        const img = document.querySelector("#basic-image-example");

        const currentSrc = img.currentSrc;
        document.getElementById('currentSrc').innerHTML = `Current Src: ${currentSrc}`;
    }

    window.addEventListener('resize', updateDisplay);
    updateDisplay();
</script>