---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Third Party">
    <h1>Third Party</h1>
    <p>Here is a script that is loaded from a third party.</p>
    <script is:inline src="https://slowfil.es/file?type=js&delay=1500&payload=dom" async></script>
</Layout>