@import '../../styles/_shared/breakpoints.scss';

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	max-height: 100px;
}

.logo {
	width: 60px;
}

.socials {
	display: flex;
	gap: var(--spacing-md);

	a {
		cursor: pointer;
		color: var(--brand-600);
	}
}

.mainNav {
	display: flex;
	gap: var(--spacing-md);
}

.desktopNavElements {
	display: none;
	@include breakpoint(sm) {
		display: flex;
		gap: var(--spacing-md);
	}
}

.navButton {
	all: unset;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xs);
	padding: var(--spacing-md);
	padding-right: 0;
	cursor: pointer;
	color: var(--button-color);

	&:focus-visible {
		outline: 2px solid var(--brand-900);
		outline-offset: 4px;
	}
}

.mobilemenu {
	--button-color: var(--brand-100);
	transform: translateX(100%);
	transition:
		500ms transform,
		display 500ms allow-discrete,
		overlay 500ms allow-discrete;
	height: 100vh;
	inset: unset;
	right: 0;
	top: 0;
	width: 90vw;
	background: var(--brand-900);
	border: none;

	&:popover-open {
		transform: translateX(0);
		@starting-style {
			transform: translateX(100%);
		}
	}
}

.mobileNav {
	--button-color: var(--brand-900);
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	justify-content: center;

	@include breakpoint(sm) {
		display: none;
	}
}

.mobileSocials {
	display: flex;
	gap: var(--spacing-md);
	color: var(--brand-100);
	a,
	a:visited {
		color: var(--brand-100);
	}
}
