@import '../../styles/_shared/breakpoints.scss';

.headerContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0;
	max-height: 100px;
}

.logo {
	width: 60px;
}

.socials {
	display: flex;
	gap: var(--spacing-md);

	a {
		cursor: pointer;
	}
}

.mainNav {
	display: flex;
	gap: var(--spacing-md);
}

.desktopNavElements {
	display: none;
	@include breakpoint(sm) {
		display: flex;
		gap: var(--spacing-md);
	}
}

.navButton {
	all: unset;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: var(--spacing-xs);

	&:focus-visible {
		outline: 2px solid var(--brand-900);
		outline-offset: 4px;
	}
}

.mobilemenu {
	transform: translateX(100%);
	transition:
		transform 0.4s,
		overlay 0.4s ease-out;
	height: 100vh;
	inset: unset;
	right: 0;
	top: 0;
	width: 90vw;
	background: var(--brand-900);
	border: none;

	&:popover-open {
		transform: translateX(0);
	}

	@starting-style {
		transform: translateX(100%);
	}
}

.mobileNav {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-md);
	padding: var(--spacing-md);
	justify-content: center;

	@include breakpoint(sm) {
		display: none;
	}
}
