---
import '../styles/global.scss';

interface Props {
	title: string;
}

import { ViewTransitions } from 'astro:transitions';
import Header from './header/Header.astro';
import Footer from './footer/Footer.astro';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en" transition:persist>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title} | IanKDuffy.com</title>

		<ViewTransitions />
	</head>
	<body>
		<Header/>
		<slot />
		<Footer />
		<!-- <button id="toggle-mode">Toggle Theme</button> -->
	</body>
</html>

<!-- <script is:inline>
	const toggleMode = document.getElementById('toggle-mode');
	const currentTheme = localStorage.getItem('theme') || window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
	const html = document.documentElement;
	html.classList.add(currentTheme);

	toggleMode.addEventListener('click', () => {
		const newTheme = html.classList.contains('light') ? 'dark' : 'light';
		html.classList.replace(localStorage.getItem('theme'), newTheme);
		localStorage.setItem('theme', newTheme);
	});
</script> -->