@import '../../../../styles/_shared/breakpoints.scss';

.container {
	color: var(--brand-900);
	margin: 0 auto;
	max-width: 1000px;
	// padding: 0 var(--spacing-sm);
	width: 90vw;
}

.articleInfo {
	display: flex;
	column-gap: var(--spacing-sm);
	flex-wrap: wrap;

	p {
		margin: var(--spacing-xs) 0;
	}
}
