---
import CSS from './styles.module.scss'
---

<footer class:list={[CSS.footer]}>
    <div class:list={[CSS.footerContent]}>
        <div class:list={[CSS.footerLogo]}>
            <img src="https://iankduffy.com/logo.svg" alt="Ian Duffy" width="60" height="67" loading="lazy" />
        </div>
    </div>
</footer>